@model Tech_Question_and_answer_Forum_Final.Models.ForumMember

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ForumMember</h4>
    <hr />
    
    <h1>   @Model.Name  - Email:  @Model.Email </h1>

    <p>@Model.Description </p>


</div>
<div>
   
  
</div>
